<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
    
    <title>AMIGURUMIS PRODUCTOS</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    rel="stylesheet" />
    <script src="https://kit.fontawesome.com/997049d577.js" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" href="../css/styles.css">

</head>

<body>
        <header class = "top-header"> 
            <a href="#irContenido">ir al contenido principal </a>
            <div class = "logoybarra">
            <img src="../images/logo_chaltu_bags.jpg" class = "logo"  alt="logo">
            <h1>
            AMIGURUMIS
            </h1>
            
            <div class="form" action="#" method="GET" role="search">
                <div class="input">BUSCAR AMIGURUMIS<i class="fa fa-search"></i></div>
              </i>
            </div>
            <h2>
                <div class="compraencuotas"> <i class="fa-solid fa-hand-holding-dollar"></i> ACEPTAMOS TODAS LAS FORMAS DE PAGO</div>
            </h2>
            </div>
    
               
        <%- include("../partial/navbar") -%>
    </header>    
        
    <main id="irContenido">
        <div>
            <h2> PRODUCTOS

            </h2>
        </div>
    <% productos.forEach(producto => { %>
        
        <div class="product-container">
            
            <img src="../images/<%= producto.imagen %>" alt="Descripción de la imagen">
            <h3><a href = "<%=producto.id%>">
                <%= producto.articulo %>
                <%= producto.modelo %>
            </a> 
        
        </h3>
            
            <p class="precio">Precio : <%= producto.precio %> </p>
            
            <button class="ov-btn-grow-ellipse">Agregar al carrito</button>

    
        </div>
        
    <% }) %>
    <div> 
    <a href="/products/create">Agregar  Producto</a>
</div>
    </main>
    <!-- site footer -->
    <%- include('../partial/footer') -%>
    
    

    

</body>

</html>
